@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

* {
  margin: 0;
  padding: 5px;
  list-style: none;
  font-family: "Inter";
  border: none;
  box-sizing: border-box;
  color: #ffffff;
}
body {
  background: rgb(28, 28, 31);
  min-height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.header-left {
  padding: 20px;
  width: 50%;
}
.header-left > h1 {
  font-size: 5rem;
}
.header-left h3 {
  color: rgb(48, 48, 255);
}
.header-right {
  text-align: center;
  width: 50%;
}
.header-right img {
  width: 90%;
  height: 450px;
}
.section-info {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background: rgb(0, 0, 0);
  width: 90%;
  margin: 20px auto;
  border-radius: 15px;
}
.info-left {
  padding: 8px;
}
.button-container {
  padding: 5px;
  display: grid;
}
.button-container button {
  border-radius: 8px;
  width: 150px;
  height: 30px;
  margin: 5px;
  padding: 5px;
  background: rgb(80, 80, 238);
}
.info-rigth {
  width: 80%;
  padding: 10px;
}
.info-rigth h4 {
  margin: 0 20px 0 120px;
  text-align: left;
}
.Investors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 20px auto 0 80px;
  padding: 20px;
}
.Investors img {
  width: 120px;
}

/* helium maquette tablette */
@media screen and (max-width: 893px) {
  * {
    border: 1px solid rgb(182, 2, 125);
  }
  header {
    height: 70vh;
  }
  .header-left h1 {
    font-size: 2.5rem;
  }
  .header-left h3 {
    font-size: 1rem;
  }
  .header-left p {
    font-size: 0.8rem;
  }
  .header-right img {
    height: 350px;
    width: 90%;
  }
  .info-rigth h4 {
    margin-left: 70px;
  }
  .Investors {
    margin-left: 20px;
    padding: 20px;
  }
  .Investors img {
    width: 80px;
  }
}

/* helium maquette mobile */
@media screen and (max-width: 637px) {
  * {
    border: 1px solid green;
  }
  nav ul {
    width: 80%;
  }
  nav ul li {
    font-size: 0.7rem;
  }
  header {
    height: 110vh;
    display: block;
  }
  .header-left {
    width: 100%;
  }
  .header-right {
    width: 100%;
    text-align: center;
  }
  .section-info {
    display: block;
  }
  .info-rigth {
    width: 100%;
  }
  .button-container button,
  .Investors img {
    margin: 0 auto 5px auto;
  }
  .info-rigth h4 {
    margin: 10px auto;
    text-align: center;
  }
  .Investors {
    display: block;
    margin: 10px auto;
  }
}
