@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

* {
  margin: 0;
  padding: 5px;
  list-style: none;
  font-family: "Inter";
  border: none;
  box-sizing: border-box;
  color: #ffffff;
}
body {
  background: rgb(28, 28, 31);
  min-height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left {
  padding: 20px;
  width: 50%;
}
.header-left > h1 {
  font-size: 5rem;
}
.header-left > h3 {
  color: rgb(48, 48, 255);
}
.header-right {
  text-align: center;
  width: 50%;
}
.header-right img {
  width: 80%;
  height: 530px;
}
.section-info {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background: rgb(0, 0, 0);
  width: 80%;
  margin: 20px auto;
  border-radius: 15px;
}
.info-left {
  padding: 8px;
}
.button-container {
  padding: 5px;
  display: grid;
}
.button-container button {
  border-radius: 8px;
  width: 150px;
  height: 30px;
  margin: 5px;
  padding: 5px;
  background: rgb(80, 80, 238);
}
.info-rigth {
  width: 80%;
  padding: 10px;
}
.info-rigth h4 {
  margin: 0 20px 0 170px;
  text-align: left;
}
.Investors {
  width: 90%;
  margin: 20px auto 0 auto;
  padding: 20px;
}
.Investors .img-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin-left: 100px;
}
.Investors .img-container img {
  width: 100px;
}

/* helium maquette tablette */
@media screen and (max-width: 1006px) {
  .header-left > h1 {
    font-size: 2.5rem;
  }
  .header-left > h3 {
    font-size: 1rem;
  }
  .header-left > p {
    font-size: 0.6rem;
  }
  .header-right img {
    height: 350px;
  }
}

/* helium maquette mobile */
@media screen and (max-width: 511px) {
}
